[submodule "Assets/Plugins/pt-physics-util"]
	path = Assets/Plugins/pt-physics-util
	url = git@github.com:poetahto/pt-physics-util.git
[submodule "Assets/Plugins/pt-player-3d"]
	path = Assets/Plugins/pt-player-3d
	url = git@github.com:poetahto/pt-player-3d.git
[submodule "Assets/Plugins/pt-player-3d-netcode"]
	path = Assets/Plugins/pt-player-3d-netcode
	url = git@github.com:poetahto/pt-player-3d-netcode.git
[submodule "Assets/Plugins/pt-runtime-console"]
	path = Assets/Plugins/pt-runtime-console
	url = git@github.com:poetahto/pt-runtime-console.git
